<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Government Scheme Navigator - Home</title>
  <link rel="stylesheet" type="text/css" href="static\styles1.css">
  <script src="https://kit.fontawesome.com/f30fac2c61.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Catamaran:wght@200&family=Courgette&family=Edu+TAS+Beginner:wght@700&family=Lato:wght@300;900&family=Mukta:wght@700&family=Mulish:wght@300&family=Open+Sans&family=PT+Sans:ital,wght@1,700&family=Poppins:wght@300&family=Raleway:wght@100&family=Roboto&family=Roboto+Condensed:wght@700&family=Roboto+Slab&display=swap"
      rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=DM+Serif+Display&family=Martel:wght@900&family=Platypi:ital,wght@0,300..800;1,300..800&family=Poppins:wght@400;600&family=Protest+Strike&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,500;1,700&display=swap" rel="stylesheet">
    
</head>
<body>
  <header>
    <div id="sj">
      <img src="/static/sj.svg">
    </div>
    <div class="logo">
      <img src="/static/myscheme-logo-black.svg">
    </div>
    
    <div class="nav-container">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/schemes">Schemes</a></li>
          <li><a href="/ask" id = "Ask">Ask</a></li>
          
        </ul>
      </nav>
    </div>
  </header>
  <div class="images">
    <img src="/static/home.jpeg">
  </div>
  
  <div class="view">
    <button id="view-schemes-btn">Find your Schemes</button>
  </div>

  <script>
    document.getElementById("view-schemes-btn").addEventListener("click", function() {
      window.location.href = "/schemes"; 
    });

    document.getElementById("Ask").addEventListener("click", function() {
      window.location.href = "/ask"; 
    });
  </script>
</body>
</html>

